/*header固定用*/
#fixed{
  position: fixed;
  width: 100%;
  margin-top: -70px;
}
#margin-for-fixed{
  margin-top: 70px;
}
/*header固定ここまで*/

header{
  display: flex;
  justify-content: space-between;
  background-color: #1dace0;
  color: #fff;
  font-size: 18px;
  padding: 5px 0;
}
.icon{
  display: flex;
  align-items: center;
  margin-left: 80px;
}

.icon img{
  height: 60px;

}
.icon .name strong{
  color: #eae51f;
}

.header-right {
  display: flex;
  align-items: center;
  margin-right:80px;

}
.header-right li:first-child{
  margin-right: 20px;
}
.welcome{

  background-image: url(../img/background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: fixed;
  
  height: 500px;
  color: #fff;

  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;

}

.title{
  font-size: 64px;
}

.guideline{
  margin-top: 50px;
  font-size: 28px;
  font-weight: bold;
}

.guideline li{
  margin-top: 16px;
}

.guideline li:first-child{
  margin-top: 0px;
}
.btn-group {
  margin-top: 60px;
}
.btn{
  height: 55px;
  width: 170px;
  margin-left: 120px;
  color: white;
  font-weight: bold;
  font-size: 28px;
  border-radius: 10px;
  cursor: pointer;
}
.btn:first-child{
  margin-left: 0px;
}

.register{
  background-color: rgba(29,172,224,.5);
  border: 3px solid rgba(29,172,224,.3);
}

.register:hover{
  background-color: rgb(29,172,224)
}

.login{
  background-color: rgba(236,227,35,.5);
  border: 3px solid rgba(236,227,35,.3);
}
.login:hover{
   background-color: rgb(236,227,35)
}


.curriculum{
  margin-top: 50px;
}

.sub-title{
  font-size: 36px;
  text-align: center;
}
.img-box {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.img-box li{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 60px;
}
.img-box li:last-child{
  margin-right: 0px;
}

.img-box li img{
  height: 300px;
  width: 300px;
}
.img-box li span{
  font-size: 24px;
  margin-top: 20px;
}
/*コンタクトここから*/

.contact{
  height: 350px;
  margin-top: 50px;
  background-color: #edf4f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contact .form{
  margin: 50px 0 40px 0;
  display: flex;
  justify-content: center;
}
.form .name{
  margin-bottom: 20px;

}
.form .name,
.form .email{
  height: 50px;
  width: 400px;
  box-sizing: border-box;
  font-size: 16px;
}

.form-left{
  margin-right: 50px;
}

.form .inquiry{
  height: 120px;
  width: 400px;
  box-sizing: border-box;
  font-size: 16px;
}
.contact button{
  background-color: #1dace0;
  color: #fff;
  border-radius: 10px;
  border: 3px solid #1dace0;
  font-size: 24px;
  box-sizing: border-box;
  padding: 15px 30px;
  transition-duration: 500ms;
}

.contact button:hover {
  background-color: #fff;
  color: #1dace0;
  transition-duration: 500ms;
}
/*コンタクトここまで*/

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #233f51;
  color: #fff;
  font-size: 18px;
  padding: 5px;
}
footer .footer-right{
  margin-right: 80px;
}


/*レスポンシブ対応します*/
/*小型pc想定*/
@media  screen and (max-width:1200px) {
  .img-box{
    justify-content: space-around;
  }
  .img-box li{
    margin-right: 30px;
  }
}
  /*タブレット想定*/
  @media  screen and (max-width:960px) {
    /*curriculum*/
  .img-box{
    flex-wrap: wrap;
    align-content: center;
  }
  .img-box li{
    margin-top: 30px;
    margin-right: 0;
  }

/*curriculumここまで*/

/*contact*/
.contact{
  height: 100%;
  padding: 40px 20px;

}
.contact .form{
  flex-flow: column nowrap;
  margin: 30px 0;
}
.form-left{
  margin-right: 0;
  margin-bottom: 30px;

}
.form .name,
.form .email{
  width: 80%;
}
.form .inquiry{
  width: 80%;
}

.contact button{
  font-size: 20px;
  padding: 5px 40px;
  box-sizing: border-box;
}




}












